/* Reset default inconsistencies */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  font-weight: 700;
}

h1,
h2 {
  letter-spacing: -0.5px;
}

* {
  transition: 0.25s ease;
}
